.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #ddd;
}

ul.nav {
    white-space: nowrap;
    overflow-x: auto;
    width: 100%;
}

ul.nav li {
    display: inline-block;
    float: none;
}

body {
    padding-top: 110px;
}