.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #ddd;
}

ul.nav {
    white-space: nowrap;
    overflow-x: auto;
    width: 100%;
}

ul.nav li {
    display: inline-block;
    float: none;
}

body {
    padding-top: 110px;
}

img.loading-gif {
    width: 20%;
    display: block;
    margin: 0 auto;
}

p.disclaimer-text {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    color: #aaa;
    font-size: 90%;
}